/* LOAD FONTS */
   /* Proxima Nova */
      @font-face{font-family:'lato';src:url(theme/fonts/lato-7n.woff2) format('woff2'),url(theme/fonts/lato-7n.woff) format('woff'),url(theme/fonts/lato-7n.ttf) format('opentype');font-weight:700;font-style:normal;}
      @font-face{font-family:'lato';src:url(theme/fonts/lato-7i.woff2) format('woff2'),url(theme/fonts/lato-7i.woff) format('woff'),url(theme/fonts/lato-7i.ttf) format('opentype');font-weight:700;font-style:italic;}
      @font-face{font-family:'lato';src:url(theme/fonts/lato-4n.woff2) format('woff2'),url(theme/fonts/lato-4n.woff) format('woff'),url(theme/fonts/lato-4n.ttf) format('opentype');font-weight:400;font-style:normal;}
      @font-face{font-family:'lato';src:url(theme/fonts/lato-4i.woff2) format('woff2'),url(theme/fonts/lato-4i.woff) format('woff'),url(theme/fonts/lato-4i.ttf) format('opentype');font-weight:400;font-style:italic;}

   /* Roboto */
      @font-face{font-family:'roboto';src:url(theme/fonts/roboto-7n.woff2) format('woff2'),url(theme/fonts/roboto-7n.woff) format('woff'),url(theme/fonts/roboto-7n.ttf) format('opentype');font-weight:700;font-style:normal;}
      @font-face{font-family:'roboto';src:url(theme/fonts/roboto-7i.woff2) format('woff2'),url(theme/fonts/roboto-7i.woff) format('woff'),url(theme/fonts/roboto-7i.ttf) format('opentype');font-weight:700;font-style:italic;}
      @font-face{font-family:'roboto';src:url(theme/fonts/roboto-4n.woff2) format('woff2'),url(theme/fonts/roboto-4n.woff) format('woff'),url(theme/fonts/roboto-4n.ttf) format('opentype');font-weight:400;font-style:normal;}
      @font-face{font-family:'roboto';src:url(theme/fonts/roboto-4i.woff2) format('woff2'),url(theme/fonts/roboto-4i.woff) format('woff'),url(theme/fonts/roboto-4i.ttf) format('opentype');font-weight:400;font-style:italic;}

/* PRE-SETUP */
	/* Normalize CSS v3.0.3 */
		*,
		*:before,
		*:after {
			box-sizing: inherit;
		}
		html {
			box-sizing: border-box;
			font-family: sans-serif;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%
		}

		body {
			margin: 0
		}

		article,
		aside,
		details,
		figcaption,
		figure,
		footer,
		header,
		hgroup,
		main,
		menu,
		nav,
		section,
		summary {
			display: block
		}

		audio,
		canvas,
		progress,
		video {
			display: inline-block;
			vertical-align: baseline
		}

		audio:not([controls]) {
			display: none;
			height: 0
		}

		[hidden],
		template {
			display: none
		}

		a {
			background-color: transparent
		}

		a:active,
		a:hover {
			outline: 0
		}

		abbr[title] {
			border-bottom: 1px dotted
		}

		b,
		strong {
			font-weight: bold
		}

		dfn {
			font-style: italic
		}

		h1 {
			font-size: 2em;
			margin: .67em 0
		}

		mark {
			background: #ff0;
			color: #000
		}

		small {
			font-size: 80%
		}

		sub,
		sup {
			font-size: 75%;
			line-height: 0;
			position: relative;
			vertical-align: baseline
		}

		sup {
			top: -0.5em
		}

		sub {
			bottom: -0.25em
		}

		img {
			border: 0
		}

		svg:not(:root) {
			overflow: hidden
		}

		figure {
			margin: 1em 40px
		}

		hr {
			box-sizing: content-box;
			height: 0
		}

		pre {
			overflow: auto
		}

		code,
		kbd,
		pre,
		samp {
			font-family: monospace, monospace;
			font-size: 1em
		}

		button,
		input,
		optgroup,
		select,
		textarea {
			color: inherit;
			font: inherit;
			margin: 0
		}

		button {
			overflow: visible
		}

		button,
		select {
			text-transform: none
		}

		button,
		html input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			-webkit-appearance: button;
			cursor: pointer
		}

		button[disabled],
		html input[disabled] {
			cursor: default
		}

		button::-moz-focus-inner,
		input::-moz-focus-inner {
			border: 0;
			padding: 0
		}

		input {
			line-height: normal
		}

		input[type="checkbox"],
		input[type="radio"] {
			box-sizing: border-box;
			padding: 0
		}

		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			height: auto
		}

		input[type="search"] {
			-webkit-appearance: textfield;
			box-sizing: content-box
		}

		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-decoration {
			-webkit-appearance: none
		}

		fieldset {
			border: 1px solid silver;
			margin: 0 2px;
			padding: .35em .625em .75em
		}

		legend {
			border: 0;
			padding: 0
		}

		textarea {
			overflow: auto
		}

		optgroup {
			font-weight: bold
		}

		table {
			border-collapse: collapse;
			border-spacing: 0
		}

		td,
		th {
			padding: 0
		}


/* FONT */
   /* Font Families */
      body, p, a {
         font-family: 'lato', sans-serif;
      }
      h1, h2, h3, h4, h5, h6,
      nav .navbar ul li a,e
      #doc .button,
      #doc input.button,
      #doc input[type='submit'],
      #doc input[type='button'],
      label, label small {
         font-family: 'roboto', sans-serif;
      }

   /* Font Size */
      .size1, h1 {
         font-size: 2.25rem;
      }
      .size2, h2 {
         font-size: 2.00rem;
      }
      .size3, h3 {
         font-size: 1.75rem;
      }
      .size4, h4 {
         font-size: 1.50rem;
      }
      .size5, h5, {
         font-size: 1.25rem;
      }
      .size6, h6,
      body, p, ul, ol, dl, table,
      #doc .button,
      #doc input.button,
      #doc button,
      #doc input,
      #doc select,
      #doc textarea,
      #doc input[type='submit'],
      #doc input[type='button'],
      #doc input[type='text'],
      #doc input[type='search'],
      #doc input[type='password'],
      #doc input[type='date'],
      #doc input[type='datetime'],
      #doc input[type='datetime-local'],
      #doc input[type='month'],
      #doc input[type='week'],
      #doc input[type='email'],
      #doc input[type='number'],
      #doc input[type='search'],
      #doc input[type='tel'],
      #doc input[type='file'],
      #doc input[type='time'],
      #doc input[type='url'],
      #doc input[type='checkbox'],
      #doc input[type='radio'] {
         font-size: 1.125rem;
      }
      ::-webkit-input-placeholder {
         font-size: 1.125rem;
      }
      ::-ms-input-placeholder {
         font-size: 1.125rem;
      }
      ::-moz-placeholder {
         font-size: 1.125rem;
      }
      .small, small, sup, sub,
      abbr, abbr[title], acronym,
      label, label small {
         font-size: 0.75rem;
      }

   /* Font Weight */
      .light, .fal {
         font-weight: 300;
      }
      .regular,
      body, p, h5,
      select,
      #doc select,
      #doc textarea,
      #doc input[type='text'],
      #doc input[type='password'],
      #doc input[type='date'],
      #doc input[type='datetime'],
      #doc input[type='datetime-local'],
      #doc input[type='month'],
      #doc input[type='week'],
      #doc input[type='email'],
      #doc input[type='number'],
      #doc input[type='search'],
      #doc input[type='tel'],
      #doc input[type='file'],
      #doc input[type='time'],
      #doc input[type='url'] {
         font-weight: 400;
      }
      ::-webkit-input-placeholder {
         font-weight: 400;
      }
      ::-ms-input-placeholder {
         font-weight: 400;
      }
      ::-moz-placeholder {
         font-weight: 400;
      }
      .bold, b, strong,
      h1, h2, h3, h4, h6,
      blockquote cite,
      optgroup, table caption,
      table thead, table thead tr th, table thead tr td,
      table tfoot tr th, table tfoot tr td,
      #doc .button,
      #doc input.button,
      #doc input[type='submit'],
      #doc input[type='button'],
      #doc input[type='search'],
      label, label small {
         font-weight: 700;
      }
      .extra-bold {
         font-weight: 900;
      }

   /* Line Height */
      body, p,
      figcaption.wp-caption-text {
         line-height: 1.5;
      }
      .size1, .size2, .size3,
      h1, h2, h3,
      .line-height-description {
         line-height: 1.25;
      }
      .size0,
      .line-height-title,
      label, label small,
      #doc select,
      #doc li span.radio,
      #doc li span.checkbox,
      #doc input[type='checkbox'],
      #doc input[type='radio'] {
         line-height: 1;
      }
      .no-line-height,
      sup, sub, img,
      img.alignleft,
      img.alignright,
      img.alignnone,
      img.aligncenter {
         line-height: 0;
      }

   /* Letter Spacing */
      h1, h2, h3, h4, h5, h6,
      #doc .button,
      #doc input.button,
      #doc input[type='submit'],
      #doc input[type='button'],
      label, label small {
         letter-spacing: 0.09375rem;
      }
      .no-spacing {
         letter-spacing: normal;
      }

   /* Font Style */
      .uppercase,
      h1, h2, h3, h4, h5, h6,
      #doc .button,
      #doc input.button,
      #doc input[type='submit'],
      #doc input[type='button'],
      label, label small{
         text-transform: uppercase;
      }
      .no-transform {
         text-transform: none;
      }
      .no-decoration {
         text-decoration: none;
      }
      .italic,
      em, dfn {
         font-style: italic;
      }

   /* Font Padding & Margins */
      h1, h2, h3, h4, h5, h6 {
         margin: 0 0 0.9375rem 0;
      }
      p {
         padding: 0;
         margin: 0 0 1.40625rem 0;
      }
      p + h1, p + h2, p + h3,
      p + h4, p + h5, p + h6 {
         margin-top: 2.8125rem;
      }

/* NAV */
   /* Nav Elements */
		nav.navbar {
			display: flex;
			width: 100%;
			height: auto;
		}
		nav.navbar .nav-icon {

      }
      nav.navbar .nav-icon img {
         height: 5rem;
         width: auto;
      }
		nav.navbar .nav-links {
			display: flex;
			width: 100%;
			height: 5rem;
			justify-content: flex-end;
			align-items: center;
      }
      nav.navbar .nav-links a {
         margin-left: 2%;
      }
      nav.navbar .nav-links a:last-of-type {
         margin-right: 2%;
      }
/* STRUCTURE */
		.container {
			margin: 0 auto;
			padding: 0 20px;
			max-width: 1000px;
		}
		.row::before,
		.row::after {
		  display: table;
		  content: ' ';
		  clear: both;
		}
		.row .row {
			margin-left: 20px;
			margin-right: 20px;
		}
		.column {
			padding-left: 20px;
			padding-right: 20px;
		}
		.one,
		.one-third,
		.two-thirds,
		.one-fourth,
		.half {
		  width: 100%;
		}
/* RESPONSIVE */
	/* min-800px */
		@media only screen and (min-width: 800px) {
			.one {
			  width: 100%;
			}
			.half {
			  width: calc(100% / 2);
			}
			.one-third {
			  width: calc(100% / 3);
			}
			.one-fourth {
			  width: calc(100% / 4);
			}
			.two-thirds {
			  width: calc(100% / 3 * 2);
			}
			.column {
				padding-left: 10px;
				padding-right: 10px;
				float: left;
			}
		 }
